body {
  margin: 0;
  font-family: "Karla", sans-serif;
}

.container {
  max-width: 570px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 20px;
  background: linear-gradient(to right, #09203f 0%, #293e49 100%);
}

.logo {
  max-width: 70px;
}

.logo-img {
  max-width: 100%;
}

.header-title {
  font-weight: bold;
  font-size: 30px;
  color: #fff;
}

.form {
  padding: 30px 0px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 33px;
}

.form-input {
  flex: 1 1 auto;
  border: 1px solid #D1D5DB;
  border-radius: 5px;
  font-size: 20px;
  padding: 7px 5px;
}

.form-button {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background: linear-gradient(to right, #09203f 0%, #293e49 100%);
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}